.container {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
}

p iframe {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }
  .iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}
